body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    color:white;
    z-index:0;
}

#features{
    z-index:2;
    position:relative;
}

h1{
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight:900;
}

h2{
    font-family: "Montserrat";
    font-size:3rem;
    font-weight:900;
}

h3{
    font-family: "Montserrat";
    font-weight: 900;
}
/* Navbar */
.navbar{
    padding:0 0 4.5rem;
}

.nav-item{
    padding:0 18px;
}

.nav-link{
    font-size: 1.2rem;
}

.navbar-brand{
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.container-fluid{
    padding:3% 15%;
}

.iphone img{
    z-index:1;
    width:60%;
    transform: rotate(25deg);
}

/* download button*/
.download-button{
    margin:5% 3% 5% 0;
}

#features{
    text-align: center;
    padding:7% 15%;
}

#features p{
    color:gray;
}

#features .fas{
    color: #EF8172;
    margin-bottom:20px;
}

#features .fas:hover{
    color:#ff4c68;
}

.feat-col{
    padding:4%;
}

/* testimonial section */

#testimonials {
    
    text-align:center;
    color: #FFF;
    background-color: #ff4c68;
}

.testimonial-image{
    border-radius: 50%;
    width:10%;
    margin:20px;
}

/* Press section*/

#press{
    background-color:#FF4c68;
    text-align: center;
}

.press-logo{
    width:15%;
    padding-bottom:3%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

/* Pricing Section */

#pricing {
    padding:100px;
    text-align: center;
}

.pricing-col{
    padding: 3% 2%;
}